$background-color: #fff;
$off-white: #ddd;
$red: #dd4b39;
$byzantine-blue: #3457D5;
$green: #34A853;

@import url('https://fonts.googleapis.com/css?family=Roboto');

body, html {
    overflow-y: hidden;
	overflow-x: hidden;
	background: $background-color;
	margin: 0px;
	margin-top: 0px !important;
    padding: 0px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

// Prefer width = element width + padding + border
*,
*:after,
*:before {
  box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6 {
	margin: 0px;
}

a {
	color: #eee;
	text-decoration: underline;
	transition: color 0.3s ease;
	transition: opacity 0.3s ease;

	&:hover {
		color:#444;
	}
}

/*
Make sure components align with each other horizontally,
so they don't stack on-top of one another during
animations
*/
.slide-component-container {
    overflow:hidden; // temporary
    position:absolute;
    top:0px;
    left:0px;
    background:#777;
    width:100vw;
    height:100vh;
}

/*
Some screens with a .side-bar will also have
a content section 
*/
.side-bar {
    background:$byzantine-blue;
    width:12px;
    position:fixed;
    left:0px;
    top:0px;
    height:100%;
}

.side-bar + .content {
    width:calc(100% - 2.5em);
    height:100vh;
    margin-left:2.5em;
    position:relative;
}

/*
Helper classes for generic styles like centering
and <img> tags
*/
.center {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

div.img-wrapper {
    width:auto;
    height:auto;

    img {
        width:100%;
        height:100%;
        vertical-align:top;
    }
}

.slide-enter {
    transform: translate(100%);
}

.slide-enter.slide-enter-active {
    transform: translate(0%);
    transition: transform 400ms ease-in-out;
}

.slide-leave {
    transform: translate(0%);
}

.slide-leave.slide-leave-active {
    transform: translate(-100%);
    transition: transform 400ms ease-in-out;
}

.linear-progress {
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:4px;

    &.hidden {
        display:none;
    }
}

.status {
    position:absolute;
    bottom:0px;
    width:100%;
    max-height:100px; // enough for our animation purposes
    height:auto;
    color:#fff;
    background:$byzantine-blue;
    transition:max-height 0.45s ease-in;

    > div {
        padding:16px 0px;
        text-align:center;
    }

    &.hidden {
        max-height:0px !important;
    }
}

$gradientOptions: linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff);

@mixin vendor($property, $value, $prefixes: ()) {
    @each $prefix in $prefixes {
        #{'-' + $prefix + '-' + $property}: $value;
    }

    // Output standard non-prefixed declaration
    #{$property}: $value;
}

@mixin bg-vendor($property, $value, $prefixes: ()) {
    @each $prefix in $prefixes {
        #{'-' + $prefix + '-' + $property}: $value;
    }

    // Output standard non-prefixed declaration
    #{$property}: $value;
}

.shimmer {
    text-align: center;
    color: rgba(255, 255, 255, 0.5);

    background: -webkit-gradient($gradientOptions);
    background: -moz-gradient($gradientOptions);
    background: gradient($gradientOptions);
    @include vendor(background-size, 125px 100%, webkit ms moz);
    @include vendor(background-clip, text, webkit ms moz);
    @include vendor(animation-name, shimmer, webkit ms moz);
    @include vendor(animation-duration, 1.5s, webkit ms moz);
    @include vendor(animation-iteration-count, infinite, webkit ms moz);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-color: #222;
}

@keyframes shimmer {
    from {
        background-position: top left
    }

    to {
        background-position: top right
    }
}

@import 'login', 'choose-name', 'lobby', 'checkers';
@import 'font-awesome.min';