$background-color: #fff;
$off-white: #ddd;
$byzantine-blue: #3457D5;

@import url('https://fonts.googleapis.com/css?family=Roboto');

body, html {
    overflow-y: hidden;
	overflow-x: hidden;
	background: $background-color;
	margin: 0px;
	margin-top: 0px !important;
    padding: 0px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
	margin: 0px;
}

a {
	color: #eee;
	text-decoration: underline;
	transition: color 0.3s ease;
	transition: opacity 0.3s ease;

	&:hover {
		color:#444;
	}
}

/**
 * Most screens with a .side-bar
 * will also have a content section 
 */
.side-bar {
    background:$byzantine-blue;
    width:2.5em;
    position:fixed;
    left:0px;
    top:0px;
    height:100%;
}

.side-bar + .content {
    width:calc(100% - 2.5em);
    height:100vh;
    margin-left:2.5em;
    position:relative;
}

.center {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

div.img-wrapper {
    width:auto;
    height:auto;

    img {
        width:100%;
        height:100%;
        vertical-align:top;
    }
}

@import 'splash';
@import 'choose-name';
@import 'font-awesome.min';