#checkers.container {
	margin:0 auto;

	.wrapper {
		width:100%;
		height:auto;
	}

	.header {
		width:100%;
		text-align:center;
		color:#fff;
		margin-bottom:16px;
	}

	.content .wrapper {
		font-size:0.8em;
		width:86%;
		height:86%;

		img.piece {
			vertical-align:top;
			width:100%;
			height:100%;
			max-width:100%;
			max-height:100%;
		}
	}

	.buttons {
		margin:0 auto;
		width:75.6%;
		margin-top:24px;

		> .btn {
			width:46%;
			height:48px;
			display:inline-block;
			position:relative;

            @include vendor(border-radius, 3px);

        	box-shadow:0px 2px 8px -4px;

        	&:active:not(.disabled) {
        		opacity:0.8;
        		box-shadow:none !important;
        	}

			&.undo {
				background:$byzantine-blue;
				margin-right:8%;

				> div {
					font-size:14px; // the FontAwesome undo icon is a little big
				}
			}

			&.done {
				background:$green;
			}

			&.disabled {
				opacity:0.5;
				background:#abc;
				box-shadow: none !important;
			}
		}
	}

	.w90 {
		width:90%;
		margin:0 auto;
	}

	.board-section {
		width:100%;
		text-align:center;
		position:relative;

		.r-dead, .bl-dead {
			position:absolute;
			top:50%;
			width:6%;
			display:inline-block;

			.wrapper {
				margin-top:4px;
				position:relative;
				width:100%;

				&:after {
					content:"";
					display:block;
					padding-bottom:100%;
				}

				img {
					position:absolute;
					vertical-align:top;
					left:0px;
					top:0px;
					width:100%;
					height:100%;
				}
			}
		}

		.bl-dead {
			left:0px;
			@include vendor(transform, translate(0, -50%));
		}

		.r-dead {
			right:0px;

    		@include vendor(transform, translate(0, -50%) rotate(180deg));
		}
	}

	.status {
	    position:absolute;
	    bottom:0px;
	    width:100%;
	    max-height:100px; // enough for our animation purposes
	    opacity:1;
	    height:auto;
	    color:#fff;
	    background:$byzantine-blue;

	    // transition:max-height opacity 0.45s ease-in;

	    > div {
	        padding:16px 0px;
	        text-align:center;
	    }

	    &.proceed {
	        background:$green !important;
	    }

	    &.hidden {
	        max-height:0px !important;
	        opacity:0;
	    }
	}
}

/*
Board styles; spacing, sizes, backgrounds, etc
*/
#checkers.container .board {
	width:84%;
	display:inline-block;
	margin-left:2%;
	margin-right:2%;

	.board-row {
		&:nth-child(even) .cell:nth-child(odd),
		&:nth-child(odd) .cell:nth-child(even) {
			.background {
				background:#fff;
			}
		}

		display:flex;

		.cell {
			width:12.5%;
			border:0px solid rgba(255,255,255,0.2);
			display:inline-block;
		  	position:relative;

		  	// Ensure the cell is a square
		  	&:after {
		  		content:"";
		  		display:block;
		  		padding-bottom:100%;
		  	}

		  	.content {
		  		position:absolute;
		  		width:100%;
		  		height:100%;
		  	}
	  	
			.background {
				width:100%;
				height:100%;
				background:#000;
				opacity:0.32;
			}

			&.highlight {
				border-color:$green !important;
				// border-width:1px !important;

				.background {
					background:$green !important;
					opacity:0.55;
				}
			}

			&.selected {
				border-color:$byzantine-blue !important;
				// border-width:1px !important;
				
				.background {
					background:$byzantine-blue !important;
					opacity:0.55;
				}
			}
		}
	}
}

#checkers .modal {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	z-index:102;

	.background {
		width:100%;
		height:100%;
		background:#000;
		opacity:0.5;
		transition:opacity 0.75s ease-in;
	}

	.img {
		margin:0 auto;
		text-align:center;
		width:100%;
		height:100%;
		
		img {
			position:absolute;
			top:50%;
			left:50%;
			width:150%;

			transition: all 0.75s linear;
			@include vendor(transform, translate(-50%, -50%) scale(1));
		}
	}

	&.hidden {
		visibility:hidden;

		.background {
			opacity:0;
		}

		.img img {
			@include vendor(transform, translate(-50%, -50%) scale(0));
		}
	}
}