#checkers.container {
	width:70%;
	margin:0 auto;

	/*
	board css specifically for this game mode
	*/
	.board {
		.board-row {
			.cell {
				width:12.5%;

				.background {
					width:100%;
					height:100%;
					background:#000;
					opacity:0.2;
				}

				&.highlight .background {
					background:$green !important;
					opacity:0.4;
				}

				&.selected .background {
					background:$byzantine-blue !important;
					opacity:0.4;
				}
			}
		}
	}

	.content .wrapper {
		font-size:0.8em;
		width:80%;
		height:80%;

		img.piece {
			vertical-align:top;
			width:100%;
			height:100%;
			max-width:100%;
			max-height:100%;
		}
	}
}

/*
Generic board css; backgrounds, colours, etc
*/
.board {
	width:100%;

	.board-row {
		display:flex;

		.cell {
			border:1px solid #fff;
			display:inline-block;
		  	position:relative;

		  	// Ensure the cell is a square
		  	&:after {
		  		content:"";
		  		display:block;
		  		padding-bottom:100%;
		  	}

		  	.content {
		  		position:absolute;
		  		width:100%;
		  		height:100%;
		  	}
		}
	}
}