#choose-name {
    background:#777;
}

#choose-name {
    form {
        border-bottom:1px rgba(255,255,255,0.3) solid;
        display:inline-block;

        input {
            color:#fff;
            font-size:18px;
            background:0 0;
            padding:0px;
            border:none;
            line-height:28px;
        }

        button {
            margin-left:8px;
            vertical-align:bottom;
            -webkit-appearance:button;
            cursor:pointer;
            width:42px;
            height:28px;
            border:none;
            background:url('../res/done-arrow.png') no-repeat center center/42px auto;
            
            &:hover {
                opacity:0.4;
            }
        }
    }
}