.content {
    .left {
        float:left;
        width:45%;
        height:100vh;
        position:relative;
    }
    
    .right {
        float:left;
        width:45%;
        height:100vh;
        position:relative;
    }

    .divider {
        float:left;
        width:10%;
        height:100vh;
        font-size:0.6em;
        color:rgba(37, 18, 18, 0.4);
        text-align:center;
        font-weight:100;

        div.divider-line {
            position:absolute;
            top:50%;
            left:50%;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            background:rgba(0,0,0,0.1);
            width:1px;
            height:100%;
        }

        div.or-text {
            position:absolute;
            top:50%;
            left:50%;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            background: #ffffff;
            height:20px;
            line-height:20px;
            // &:before, &:after {
            //     content:"—"
            // }
        }
    }

    .create, .join {
        position: absolute;
        top: 50%;
        -webkit-transform: translate(0, -50%);
        transform: translate(0, -50%);
    }

    .new-room, .join-room {
        display:inline-block;
        width:auto;
        height:auto;
        padding:8px 24px;
        background:$byzantine-blue;
        color:#fff;
        font-size:0.6em;
        text-transform:uppercase;
        margin-top:20px;
    }

    .create {
        right:0px;
        text-align:right;

        ul {
            display:inline;
            list-style:none;
            padding:0px;
            text-align:right;

            li {
                text-align:right;
            }
        }

        label {
            font-size:0.7em;
            vertical-align:text-top;
        }
    }

    .join {
        left:0px;

        input {
            display:inline-block;
            height:29px;
            margin:0px;
            border-radius:0px;
            border:1px solid rgba(0,0,0,0.4);
            padding:0px 8px;
            font-size:0.9em;
            width:calc(70% - 16px);
        }
    }

    .header {
        font-size:0.8em;
        margin-bottom:20px;
    }
}
